body {
  background-color: #B8CEE1;
}

.header {
  text-align: center;
  background: #B8CEE1;
  padding-top: 80px;
}

.player-selection {
  text-align: center;
  background-color: #B8CEE1;
  border: solid #5C7C97;
  margin: 185px;
  padding: 95px;
}

#play-btn {
  background-color: #5C7C97;
}

#display-players {
  display: none;
}
